.card {
	max-width: 100%;
	display: grid;
	place-items: center;
	gap: 1rem;
	max-width: 350px;

	.ratings {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	label {
		display: grid;
		place-items: center;

		.icon-star {
			font-size: 1.5rem;
			color: #bbb;
			transition: all 0.5s ease-in-out;

			&:hover,
			&.active {
				color: #000;
			}
		}

		input {
			display: none;
			outline: none;
			border: none;
		}
	}
}

@media (min-width: 600px) {
	.card {
		max-width: 460px;
	}
}
