* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-color: #e6e6e6;
}
.container {
	width: min(100%, 1000px);
	padding-inline: 1rem;
	display: grid;
	place-items: center;
	gap: 3rem;
}
