@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Merriweather:wght@700&display=swap');

html {
	font-size: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 500;
	width: 100%;
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-color: #e4e6f6;
	color: #151a41;
}
.container {
	width: min(100%, 460px);
	padding-inline: 1rem;
	display: grid;
	place-items: center;
	gap: 3rem;
}
